* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: azure;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
}
.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, violet, blueviolet);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  flex-direction: column;
  margin-top: 150px;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.search input {
  border: 0;
  outline: 0;
  height: 60px;
  border-radius: 50px;
  background-color: snow;
  padding: 10px 24px;
  font-size: 18px;
  width: 100%;
}
.search button {
  border: 0;
  outline: 0;
  border-radius: 50%;
  width: 75px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 16px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 80px;
  font-weight: 500;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.Wind {
  font-style: 28px;
  margin-top: -6px;
}
